* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;

}

/* header section style start  */
header {
    /* margin: 38px 0 95px; */
    margin: 40px 150px;


}

/* nav styles start  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-icon-div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-title {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

.nav-title span {
    color: transparent;
    background-image: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    -webkit-background-clip: text;

}

nav>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    color: #3C354F;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
}

nav>ul>li {
    list-style: none;
}

nav>ul>li>a {
    text-decoration: none;
}

nav>ul>button {
    padding: 0 24px;
    height: 56px;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

}

nav>ul>button>a>.fa-youtube {
    color: #F61C0D;
}

nav>ul>button>a>.fa-tiktok {
    color: transparent;
    background-image: linear-gradient(black, red);
    background-clip: text;
    -webkit-background-clip: text;
}

/* nav style end  */

/* banner style start  */
.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 200px;
    /* margin-top: 40px; */

}

.banner-container .banner-content {
    background-image: linear-gradient(235deg, rgba(140, 87, 238, 0.03) 3.9%, rgba(241, 68, 174, 0.03) 100.56%);
}

.banner-container .banner-content .banner-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
}

.banner-container .banner-content .banner-subtitle {
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    background-image: linear-gradient(rgba(249, 72, 178, 1), rgba(135, 88, 241, 1));
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 24px;
}

.banner-description {
    display: flex;
    align-items: center;
    margin: 17px 0;
    gap: 10px;
}

.banner-section-button {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
}

.banner-content .primary-btn {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
    border: none;
}

.banner-content .secondary-btn {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    white-space: nowrap;
    gap: 10px;
    border-radius: 48px;
    background-color: #4EC5F7;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;

}

.banner-container .banner-image img {
    width: 100%;
}

/* banner style end  */

/* header section style end here  */


/* main section style start  */
main {
    margin: 0 150px;

}

/* gamer section style start  */

.we-are-gamer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.gamer-section-image img {
    width: 100%;
}

.we-are-gamer-section .gamer-section-description {
    width: 100%;
    text-align: right;
}



.gamer-section-title {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
}

.gamer-section-para {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}

.gamer-section-description button {
    display: inline-flex;
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
    border: none;
    margin-bottom: 60px;
}

.gamer-section-description .purpose {
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}

.gamer-section-description blockquote {
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
    width: 100%;
    white-space: nowrap;
}

/* gamer section style end  */


/* online game section start  */
.online-game-section {
    text-align: center;
}

.online-game-section-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.online-game-section-title>span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}

.online-game-section-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

/* card style  */

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-bottom: 120px;
}

.card-container .card .card-content {
    position: relative;
}

.card-container .card img {
    width: 100%;
}

.card-container>.card>.card-content>.image-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background-color: #0B0223;
    cursor: pointer;
}

.card-container>.card>.card-content>.image-overlay>.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.card-container>.card:hover .image-overlay {
    opacity: 0.6;
}

.card-container .card .card-description {
    text-align: left;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 24px;
}

/* online game section end  */


/* service section style start  */
.service-section {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
    margin-bottom: 120px;
}

.service-section-title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 24px;
}

.service-section-title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.service-section-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.service-section-image-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.service-section-image-div img {
    width: 100%;
}

.relative-image-div {
    width: 50%;
    position: absolute;
    bottom: -100px;
    left: 15%;
    transform: translate(-50%);

}

.relative-image-div img {
    width: 100%;
    position: relative;
    bottom: 50px;
    left: -50px;
    /* transform: translate(-50%); */
}

/* service section style end  */


/* rounded card section style start  */
.rounded-cards-section {
    display: flex;
    /* width: 100%; */
    width: calc(100% - 8px / 9);

    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.rounded-card-content {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 20px;
    padding: 2px;
}

.rounded-card-content:hover {
    border-radius: 50px;
    border: 1px solid #FF42A5;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rounded-card-content img {
    width: 60px;
}

.rounded-card-title {
    color: #0B0223;
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
}


/* rounded card section style end  */

/* main section style end  */

/* footer section style start  */

footer {
    background: #0B0223;
    color: #FFF;
    text-align: center;
    padding: 120px 450px;
}

.footer-logo-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 66px;
}

.footer-links-container {
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    /* gap: 30px; */
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
    /* padding:  ; */

}

.footer-links-container li {
    list-style: none;
}

.footer-links-container li a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
}

.footer-icons-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    /* gap: 40px; */
    margin-bottom: 30px;
    /* width: 100%; */

}

.footer-icons-container>a>i {
    color: white;
    width: 40px;
    height: 40px;
}

.our-conditions {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    /* gap: 60px; */
    /* width: 100%; */

}

.our-conditions p,
.copyright-text {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

/* footer section style end  */

/* responsive design for mobile  */
@media screen and (max-width:576px) {
    header {
        margin: 20px;
    }

    main {
        margin: 20px;
    }

    nav,
    ul {
        flex-direction: column;
        justify-content: center;
    }

    .nav-icon-div {
        margin-bottom: 32px;
    }

    .banner-container {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 100px;
        margin-bottom: 100px;
    }

    .banner-content {
        width: 100%;
        margin: 0 auto;
    }

    .banner-container .banner-content .banner-title {
        font-size: 2rem;
        width: 100%;
    }

    .banner-container .banner-content .banner-subtitle {
        font-size: 4.5rem;
    }

    .banner-section-button {
        width: 100%;
        gap: 15px;
    }

    .banner-content .primary-btn {
        padding: 21px;
    }


    .banner-content .secondary-btn {
        padding: 21px;


    }

    .banner-container .banner-image img {
        width: 100%;
    }

    .we-are-gamer-section {
        flex-direction: column;
        gap: 100px;
        margin-bottom: 100px;
    }

    .we-are-gamer-section .gamer-section-description {
        width: 100%;
        text-align: center;
    }

    .gamer-section-title {
        white-space: nowrap;
        font-size: 2rem;
        text-align: center;
    }

    .gamer-section-para {
        text-align: center;
    }

    .gamer-section-description blockquote {
        width: 100%;
        white-space: normal;
    }

    .online-game-section-title {
        font-size: 2rem;
    }

    .online-game-section-title span {
        font-size: 2rem;
    }

    .card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .service-section {
        flex-direction: column;
        gap: 100px;
    }

    .service-section-image-div {
        width: 100%;
        align-items: flex-end;
    }

    .service-section-image-div img {
        width: 80%;
    }

    .relative-image-div {
        bottom: -50px;
        left: 70px;
        width: 50%;

    }

    .relative-image-div img {
        position: static;
    }

    .rounded-cards-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        /* width: calc(100% - 8px); */

        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .rounded-card-content {
        width: 100%;
    }

    .rounded-card-title {
        white-space: normal;
        font-size: 10px;
    }

    .rounded-card-content img {
        width: 30px;
    }

    footer {
        /* width: calc(100% - 20px); */
        padding: 120px 5px;
    }

    .footer-links-container,
    .footer-icons-container {
        /* display: flex; */
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-links-container li {
        margin-bottom: 30px;
    }

    .our-conditions {
        grid-template-columns: repeat(2, 1fr);

    }

    .our-conditions p {
        margin-bottom: 20px;
    }
}

/* responsive design for tablet  */
@media screen and (min-width:576px) and (max-width:768px) {
    header {
        margin: 20px;
    }

    main {
        margin: 20px;
    }

    nav {
        justify-content: space-between;
    }

    nav>ul {
        gap: 1rem;
    }

    nav>.nav-icon-div {
        justify-content: flex-start;
    }

    nav>ul>li>a {
        white-space: nowrap;
    }

    .banner-container {
        flex-direction: column-reverse;
        gap: 100px;
    }

    .we-are-gamer-section {
        flex-direction: column;
        gap: 100px;
        margin-bottom: 100px;
    }

    .we-are-gamer-section .gamer-section-description {
        width: 100%;
        text-align: center;
    }

    .gamer-section-title {
        white-space: nowrap;
        font-size: 2rem;
        text-align: center;
    }

    .gamer-section-para {
        text-align: center;
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    footer {
        /* width: calc(100% - 20px); */
        padding: 120px 100px;
    }

    .footer-links-container {
        /* display: flex; */
        grid-template-columns: repeat(6, 1fr);
    }
}